@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Overpass:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Overpass, sans-serif;
    font-weight: 300;
    color: rgb(140, 35, 35);
}

/* heading and logo style */
h1,
h2 {
    font-family: EB Garamond, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #255100;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 25px;
}

/* navigation */

#links {
    font-size: 120%;
    letter-spacing: 2px;
}

#links,
#logo {
    line-height: 75px;
}

#links li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#links a {
    text-decoration: none;
    color: inherit;
}

#links a:hover {
    border-bottom: 1px solid #255100;
}

.active {
    border-bottom: 1px solid #255100;
}

/* main image and intro */

#main-image {
    height: 600px;
    width: auto;
    background: url('../images/Tom_Hales.jpg') no-repeat center center;
}